:root{
  --background-color: rgb(24, 10, 63);
  --title-color:rgb(223, 98, 165);
  --accent-color: rgb(71, 203, 159);
  --text-color: rgb(184, 182, 182);
}

#root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  text-align: center;  
}

body{
  background-color: var(--background-color);
}

.App{
  display: flex;
  flex-direction: column;
}

